# API Config
API_TITLE=Parquet S3 API
API_VERSION=1.0.0
PORT=8000
API_ACCESS_TOKEN=seu_token_super_secreto_aqui

# AWS / Supabase S3 Config
AWS_ACCESS_KEY_ID=sua_access_key_id
AWS_SECRET_ACCESS_KEY=sua_secret_access_key
AWS_DEFAULT_REGION=us-east-1
SUPABASE_S3_ENDPOINT=https://seu-projeto.supabase.co/storage/v1/s3
SUPABASE_BUCKET=seu-bucket
